<div class="container mx-auto" style="width: 560px;">
  <h2 class="my-3 text-center">Forgot your password?</h2>
  
  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
  
    <div class="field mb-2">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
    </div>
  
    <div class="actions">
      <%= f.submit "Send me reset password instructions", class: "btn btn-primary my-2 w-100" %>
    </div>
  <% end %>

  <div class="text-right">
    <%- if controller_name != 'sessions' %>
      <%= link_to "Sign In", new_session_path(resource_name), class: "text-decoration-none" %>
    <% end %>
  </div>
</div>
