<h1 class="mt-3 mb-3">Register for <%= @event.title %></h1>

<%= form_with(model: @registration, url: event_registrations_path) do |f| %>
  <div class="mb-2">
    <%= f.label :name %>
    <% if user_signed_in? %> 
      <%= f.text_field :name, value: current_user.name, class: "form-control w-50", required: true %>
    <% else %>
      <%= f.text_field :name, class: "form-control", required: true %>
    <% end %>
  </div>
  
  <div class="mb-3">
    <%= f.label :email %>
    <% if user_signed_in? %>
      <%= f.email_field :email, value: current_user.email, class: "form-control w-50", required: true  %>
    <% else %> 
      <%= f.email_field current_user.email , class: "form-control", required: true %>
    <% end %> 
  </div>

  <%= f.submit class: "btn btn-primary" %> 
<% end %>  