<h1>Register for <%= @event.title %></h1>

<%= form_with(model: @registration, url:  event_registrations_path) do |f| %>
  <div class="mb-2">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  
  <div class="mb-2">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control" %>
  </div>

  <div class="mb-3">
    <%= f.label :mobile %>
    <%= f.text_field :mobile, class: "form-control" %>
  </div>

  <%= f.submit class: "btn btn-primary" %> 
<% end %>  