<div class="col mb-4">
  <div class="card h-100">
    <% if event.img.attached? %>
      <%= link_to event_path(event) do %>
        <%= image_tag event.img.url, size: "150x200", class: "card-img-top" %>
      <% end %> 
    <% end %>
    <div class="card-body">
      <h2 class="card-title"><%= link_to event.title, event_path(event), class: "text-decoration-none text-dark" %></h2>
      <p class="card-text event-date"><%= event.start_date.strftime("%a, %b %d, %I:%M %p") %></p>
      <p class="text-muted"><%= event.location %></p>
    </div>
  </div>
</div>