<h1>Edit <%= @event.title %></h1>

<%= form_with(model: @event) do |f| %>
  <div class="">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>

  <div class="">
    <%= f.label :event_starts %>
    <%= f.datetime_field :start_date %>  
  </div>
  
  <div class="">
    <%= f.label :event_ends %>
    <%= f.datetime_field :end_date %>  
  </div>
  
  <%= f.submit %> 
<% end %>  