<h1><%= @event.title %></h1>

<div class="d-flex justify-content-between">
  <div class="">
    <p>Description: <%= @event.description %></p>
  </div>
  
  <div class="">
    <p>Location: <%= @event.location %></p>
    <p>Event starts: <%= @event.start_date %></p>
    <p>Event ends: <%= @event.end_date %></p>
  </div>
</div>

