<div class="container">  
  <div class="buttons pt-3">
    <%= link_to events_path, class: "btn btn-secondary" do %>
      <i class="fas fa-arrow-alt-circle-left"> Back</i>
    <% end %>
      <% if user_signed_in?  %>
        <% if @event.user_id == current_user.id %>
          <%= link_to edit_event_path(@event), class: "btn btn-primary" do %>
            <i class="fas fa-pencil-alt"></i>
          <% end %>
          <%= link_to event_path(@event), method: "delete", data: { confirm: "Are you sure?" },
                                          class: "btn btn-danger" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        <% end %>
      <% end %>
  </div>
  <div class="row border border-light rounded-top mt-4 overflow-hidden">
    <div class="col-md-8 px-0">
      <% if @event.photo.attached? %> 
        <%= image_tag @event.photo.url, size: "600x300", class: "main-image w-100" %>
      <% end %> 
    </div>
    <div class="col-md-4 bg-light text-dark px-4 pt-4 pb-3">
      <div class=""><%= @event.start_date.strftime("%^b") %></div>
      <div class="pl-1"><%= @event.start_date.strftime("%e") %></div>
      <h3 class="my-3"><%= @event.title %></h3>
      <div class=""><i class="fas fa-user-circle"></i> Created by <%= @event.user.email %></div>
    </div>
  </div>
  <div class="panel py-3 d-flex justify-content-between row border-top border-bottom">
    <div class="buttons col-8 d-flex">       
      <div class="share">
        <a href="#" class="twitter text-secondary p-2" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="#" class="facebook text-secondary p-2" target="_blank"><i class="fab fa-facebook-f"></i></a>
      </div>
      <div data-controller="favorite"
           data-favorite-id-value="<%= @event.id %>">
        <a href="#" class="p-2 text-secondary" data-action="favorite#toggleFavorite">
          <% if user_signed_in? %>
            <% if current_user.favorite_events.exists?(@event.id) %>
              <i class="fas fa-heart" data-favorite-target="icon"></i>
            <% else %> 
              <i class="far fa-heart" data-favorite-target="icon"></i>
            <% end %>
          <% else %>
            <i class="far fa-heart"></i>  
          <% end %>  
        </a>
      </div>
    </div>
    <div class="col-4">
      <%= link_to "Enroll", new_event_enrollment_path(@event), class: "btn btn-success btn-lg w-100 px-4" %>
    </div>
  </div>
  
  <div class="d-flex justify-content-between row mb-4 pt-5">
    <div class="col-8">
      <h3>About this event</h3>
      <%= @event.description %>
    </div>
  
    <div class="col-4">
      <div class="shadow p-3">
        <div class="mb-5">
          <h3>Date and time</h3>
          <p><%= @event.start_date.strftime("%a, %b %d, %I:%M %p") %> -<br>
             <%= @event.end_date.strftime("%a, %b %d, %I:%M %p") %>
          </p>
        </div>
        <div class="">
          <h3>Location</h3>
          <p><%= @event.location %></p>
        </div>
      </div>
    </div>
  </div>
  
  <h2 class="mb-4">Comments</h2>
  <div class="d-flex">
    <span class="mr-2">
      <% if user_signed_in? %>
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar.url, size: "20x20", class: "rounded-circle" %>
        <% else %>
          <%= image_tag "default.jpg", size: "20x20" %>
        <% end %>
      <% end %>
    </span>
    <div class="mb-4 w-100"><%= render "comments/form" %></div>
  </div>
  
  <div class="comments-list mb-3">
    <%= render @comments %>
  </div>
</div>