<h1><%= @event.title %></h1>

<div class="d-flex justify-content-between">
  <div class="">
    <p>Description: <%= @event.description %></p>
  </div>
  
  <div class="">
    <p>Location: <%= @event.location %></p>
    <p>Event starts: <%= @event.start_date %></p>
    <p>Event ends: <%= @event.end_date %></p>
  </div>
</div>

<% if user_signed_in?  %>
  <% if @event.user_id == current_user.id %> 
    <div class="buttons">
      <%= link_to "Edit", edit_event_path(@event), class: "btn btn-primary" %>
      <%= link_to "Delete", event_path(@event), method: "delete", 
                                                data: { confirm: "Are you sure?" }, 
                                                class: "btn btn-danger" %>  
    </div>
  <% end %> 
<% end %> 

