<div class="d-flex mt-3 mb-3">
  <h1 class="mr-3"><%= @event.title %></h1>  
    <div class="buttons p-2">
      <%= link_to events_path, class: "btn btn-secondary" do %>
        <i class="fas fa-arrow-alt-circle-left"> Back</i>
      <% end %> 
        <% if user_signed_in?  %>
          <% if @event.user_id == current_user.id %>
            <%= link_to edit_event_path(@event), class: "btn btn-primary" do %>
              <i class="fas fa-pencil-alt"></i>
            <% end %> 
            <%= link_to event_path(@event), method: "delete", data: { confirm: "Are you sure?" },
                                            class: "btn btn-danger" do %>
              <i class="fas fa-trash-alt"></i>
            <% end %> 
          <% end %>
        <% end %>  
    </div>
</div>

<div class="d-flex justify-content-between">
  <div class="">
    <p>Description: <%= simple_format(@event.description) %></p>
  </div>
  
  <div class="">
    <p><i class="fas fa-user-circle"></i> Created by <%= @event.user.email %></p>
    <p><i class="fas fa-calendar-alt"></i> Event starts: <%= @event.start_date %>
        <p>Event ends: <%= @event.end_date %></p>
    </p>
    <p><i class="fas fa-map-marker-alt"></i> Location: <%= @event.location %></p>
  </div>
</div>

<h2>Leave a comment</h2>
<div class="form mb-3">
  <%= form_with(model: @comment, url: event_comments_path(@event)) do |f| %>
    <%= f.text_area :content, class: "form-control mb-2", placeholder: "Leave a comment..." %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>

<div class="comments-list mb-3">
  <% @comments.each do |comment| %>
    <div class="card mb-1">
      <div class="card-header d-flex">
        <div class="d-flex">
          <div class="mr-2">
            <% if current_user.avatar.attached? %>
              <%= image_tag current_user.avatar.url, size: "20x20", class: "rounded-circle" %>
            <% else %>
              <%= image_tag("default",:size => "20x20") %>
            <% end %>
          </div>
          <div class="mr-3"><strong><%= comment.user.email %></strong></div>
        </div>          
        <div class="text-muted">
          <%= comment.created_at.strftime("%Y-%m-%d %H:%M:%S") %>
        </div>
      </div>
      <div class="card-body"><%= comment.content %> 
        <div class="text-right">
          <%= link_to comment_path(comment), method: "delete", data: {confirm: "Are you sure?"},
                                             class:"btn btn-danger btn-sm" do %>
            <i class="fas fa-trash-alt"></i>
          <% end %>
        </div>
      </div>
    </div> 
  <% end %>  
</div>