<div class="container mx-auto" style="width: 560px;">
  <h1 class="my-3 text-center">Enroll for <%= @event.title %></h1>
  
  <%= form_with(model: @enrollment, url: event_enrollments_path) do |f| %>
    <div class="mb-2">
      <%= f.label :name %>
      <% if user_signed_in? %>
        <%= f.text_field :name, value: current_user.name, class: "form-control", required: true %>
      <% else %>
        <%= f.text_field :name, class: "form-control", required: true %>
      <% end %>
    </div>
  
    <div class="mb-2">
      <%= f.label :email %>
      <% if user_signed_in? %>
        <%= f.email_field :email, value: current_user.email, class: "form-control", required: true  %>
      <% else %>
        <%= f.email_field current_user.email , class: "form-control", required: true %>
      <% end %>
    </div>
  
    <%= f.submit class: "btn btn-success w-100 mt-2" %>
  <% end %>
</div>